.filters.clearfix
  #sort-menu.list-controls
    %h3.controls-heading Sort By
    %button{:data => {"sort-by" => 'average_rating'}}
      Average Rating
    %button{:data => {"sort-by" => 'rt_rating'}}
      Rotten Tomatoes Rating
    %button{:data => {"sort-by" => 'imdb_rating'}}
      IMDb Rating
    %button{:data => {"sort-by" => 'metacritic_rating'}}
      Metacritic Rating
  #filter-menu.list-controls
    %h3.controls-heading Filter By
    %button{:data => {"filter-by" => '.cinema'}, id: "filter-cinema"}
      Cinema/Theater
    %button{:data => {"filter-by" => '.dvd'}, id: "filter-dvd"}
      DVD
    %button{:data => {"filter-by" => '*'}, id: "filter-all"}
      All
.movie-list.clearfix
  - @movies.each do |movie|
    %div{class: "movie #{movie.release_type} clearfix"}
      %a{href: "movies/#{movie.id}"}
        -if movie.poster.url.match(/default/)
          .blank-poster
            %img.small-poster{src: movie.poster.url(:normal)}
            %p.blank-poster-title
              = movie.title
        -else
          %img.small-poster{src: movie.poster.url(:normal)}
      .ratings
        %p.average-rating.rating
          %a{href: "movies/#{movie.id}"}
            = movie.average_rating
        %h3.rating-heading.average-rating-heading Average Rating
        .sub-rating-cont{title: "Rotten Tomatoes"}
          %h3.rating-heading RT
          %p.sub-rating.rt-rating
            %a{href: movie.rt_url, target: "_blank"}
              = movie.rt_rating/10
        .sub-rating-cont{title: "IMDb"}
          %h3.rating-heading IMDb
          %p.sub-rating.imdb-rating
            %a{href: movie.imdb_url, target: "_blank"}
              = movie.imdb_rating
        .sub-rating-cont{title: "Metacritic"}
          %h3.rating-heading MC
          %p.sub-rating.metacritic-rating
            %a{href: movie.metacritic_url, target: "_blank"}
              = movie.metacritic_rating/10
